@media screen and (max-width:1200px){
    .container{
        max-width: 100% ;
        padding: 0 3rem;
    }
}
@media screen and (max-width:992px){
    .about-grid{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .home{
        width: 50%;
    }
    .process-grid{
        grid-template-columns:1fr 1fr;
    }
    .work-grid{
        grid-template-columns: 2fr 2fr;
    }
}
@media screen and (max-width:768px){
    .ct-grid{
        grid-template-columns:1fr;
    }
}
@media screen and (max-width:576px){
    .home{
        width: 90%;
    }
    .process-grid {
        grid-template-columns: 1fr 1fr;
     }
     .process-grid-item{
         padding: 1rem 1rem;
     }
     .process-grid-item h4{
     margin-top: 12px;
    }
    #exp{
    padding:6rem;
}
#work{
    padding:12rem;
}
.container{
    padding: 0;
}
#tm {
    background-image: none;
    background-color: #D1D1D1;
}
.tm-grid-item{
    text-align: center;
    width: 250%;
}
h1 {
    font-size: 5.5rem;
}
.clearfix{
    padding: 4rem 30px;
}
.submit-btn {
    text-align: center;
}
}
@media screen and (max-width:428px){
    #hiro{
        height: 50vh;
    }
    #about,
    #work,
    #process,
    #exp,
    #tm,
    #contact{
        padding: 6rem;
    }
    .hiro-content h1{
        font-size: 2.5rem;
    }
    .hiro-content span {
        font-size: 1.1rem;
    }
    .home{
        width: 80%;
    }
    .container h1{
        font-size: 2.5rem;
    }
    .container span{
        font-size: 1.1rem;
    }
    .container h2{
        font-size: 2.5rem;
    }
    .container h3{
        font-size: 1.8rem;
    }
    .container h4{
        font-size: 1.3rem;
    }
    .work-filter button{
        margin: 4px;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        }
    .ss p{
        font-size: 1.1rem;
 }
 .work-grid-item img{
    height:15rem;
}
}
@media screen and (max-width:390px){
    #hiro{
        height: 50vh;
    }
    #about{
        padding: 6rem;
    }
    .hiro-content h1 {
        font-size: 2.5rem;
}
.hiro-content span {
    font-size: 1.1rem;
}
    .btn{
        padding: 0.5rem 2rem;
    }
    .about-grid-item h4{
        margin: -34px 0 20px 0;
    }
    #process{
        padding: 6rem;
    }
    .section-title h2{
    font-size: 2.5rem;
}
.process-grid-item h4{
font-size: 1.3rem;
}
.exp-grid{
    grid-template-columns: 1fr ;
}
.exp-grid h3{
    font-size: 1.8rem;
}
.exp-grid h4{
font-size: 1.4rem;
}
.exp-grid span{
font-size: 1.1rem;
}
#work {
    padding: 6rem;
}
.work-filter button{
margin: 4px;
padding: .5rem 1rem;
font-size: 1.2rem;
}

.work-grid {
    grid-template-columns: 1fr 1fr;
}
.work-grid-item img{
    height:15rem;
}
#tm{
    padding: 6rem;
}
.tm-grid h4{
    font-size: 1.4rem;
}
.tm-grid span{
    font-size: 1.1rem;  
}
.ct-grid-item h3{
    font-size: 1.8rem;
}
#contact{
    padding: 6rem;  
}
.ss p{
font-size: 1.1rem;
}
}
